@model HackToYourFuture.ViewModels.IndexViewModel

@foreach(var place in Model.Places)
{
    <div>
        @place.PlaceName
    </div>
}


@section scripts {
    <script>
    $(document).ready(function () {
 
        $.getJSON("@Url.Action("GetComments")", null, function (data) {
            console.log(data);


    });


    });
    </script>
}
